@font-face {
  font-family: modern;
  src: url(/styles/fonts/quicksand/Quicksand-Regular.otf);
}

@font-face {
  font-family: media;
  src: url(/styles/fonts/ExonRegular-0WjEd.otf);
}

@font-face {
  font-family: destaque;
  src: url(/styles/fonts/Back\ to\ school.ttf);
}

:root {
  --fir-font-article: "adobe-garamond-pro", "Times New Roman", Times;
  --fir-font-header: "foco", Helvetica;
  --fir-blue-twitter-alpha: rgba(15, 15, 15, 0.6);
  --fir-color-grey: #001E6C;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'modern';
  box-sizing: border-box;
}

/*HEADER*/
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 75px;
}

.headercontent {
  display: flex;
  align-items: center;
}

.logo {
  padding-bottom: 10px;
  display: flex;
  width: 150px;
  padding-left: 30px;
}

.menus {
  margin-right: 100px;
  display: flex;
}

.menu-item {
  font-family: 'media';
  padding-left: 80px;
  text-decoration: none;
  font-size: 19px;
  color: white;
  transition: all 0.3s ease 0s;
}

.menu-selected {
  font-family: 'media';
  margin-left: 50px;
  text-decoration: none;
  font-size: 19px;
  color: #dddddd;
  cursor: default;
  border-bottom: #577BC1 3px solid;
}

.menu-item:hover {
  transform: translateY(-7px);
}

.menu-item:active {
  transform: translateY(-1px);
}

.midia {
  padding-right: 30px;
}

.social {
  height: 20px;
  justify-content: flex-end;
  transition: all 0.3s ease 0s;
  padding-left: 10px;
}

.social:hover {
  transform: translateY(-7px);
}

.social:active {
  transform: translateY(-1px);
}

/*HEADER*/

/*SECTION*/


.container {
  height: 100vh;
  width: 100vw;
  background-color: #070a0c;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%233282b8' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.title {
  padding-top: 120px;
  height: fit-content;
  box-sizing: green;
}

.equipe {
  font-size: 50px;
  font-family: 'media';
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.description {
  font-size: 20px;
  font-family: 'modern';
  text-align: center;
  font-weight: bold;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
}

.content {
  display: flex;
}

.square {
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10%;
  margin-left: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.imgdev {
  margin-top: 10px;
}

.img {
  margin-top: 40px;
}

#comp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

#dev {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

#mao {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.square-title {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #001E6C;
  font-size: 40px;
  font-family: 'media';
  text-align: center;
}

.description-title {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 15px;
  font-weight: bold;
  font-family: 'modern';
  text-align: center;
  color: #035397;
}

/*SECTION*/


/*CARDS*/

.cards {
  height: 0px;
}

#card2 {
  margin-top: 50px;
}

.fir-clickcircle {
  height: 80px;
  width: 80px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 10px;
}

.fir-image-figure {
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  text-decoration: none;
  background-color: rgb(204, 204, 204);
  margin-top: 60px;
  height: 120px;
  width: 330px;
  border-radius: 5px;
}

.fir-image-figure .caption,
.fir-image-figure figcaption {
  padding-left: 15px;
}

html.wf-active .fir-image-figure .fig-author-figure-title {
  font-family: var(--fir-font-header);
  font-size: 16px;
}

.fir-image-figure .fig-author-figure-title {
  color: var(--fir-color-grey);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-top: 2px;
}

.fir-imageover {
  position: relative;
  display: flex;
}

.fir-imageover-color {
  height: 80px;
  width: 80px;
  position: absolute;
  background: var(--fir-blue-twitter-alpha);
  background-image: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background .3s ease-in-out;
  animation: fadeInFadeOut 2s infinite;
  top: 0;
  left: 0;
  margin-left: 10px;
}

.fir-imageover-image {
  position: absolute;
  top: 0;
  left: 0;
  animation: fadeInFadeOut 2s infinite;
}

@keyframes fadeInFadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*CARDS*/